.entire-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%
}

.leave-review-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2rem;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-review {
    margin-bottom: 10px;
}

.text-review input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.star-review {
    margin-bottom: 10px;
}

.star-review select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}

.error-container {
    width: 80%;
    margin-bottom: 10px;
}

.errors-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: red;
}

