.review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  
  .each-review {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
  }

  .user-review{
    font-style: italic;
    margin-left: 10px;
  }
  
  .user-name {
    font-size: large;
    margin-left: 10px;
  }

  .rev-delete{
    height: 80px;
  }