.full-form-container {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-top: 15px
  }
  
  .delete-confirmation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .delete-one {
    background-color: #ff5f5f;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .delete-confirm {
    margin-bottom: 1rem;
  }
  
  .final-delete {
    background-color: #ff5f5f;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .errors {
    color: #ff5f5f;
  }
  