.hidden {
    display:none;
}

.prof{
  display: flex;
  justify-content: space-between;
}
/* Navigation */
.logo{
  width: 120px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px
}

.main-burger {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .burger {
    display: inline-block;
  }

  button {
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.5rem;
  }
  
  .fa-user-circle {
    color: rgb(0, 0, 0);
  }
  
  /* Home */
  
  .home-image {
    width: 50px;
    height: 50px;
    background-image: url("");
    background-size: cover;
    background-position: center;
    display: inline-block;
  }